<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="../static/css/style.css" th:href="@{static.css}" rel="stylesheet"/>

    <title>Add book</title>
</head>

<header>
    <h1>Book list</h1>
    <p class="login_info"> Logged in as: <span sec:authentication="name"></span>
        <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    </p>
    <nav>
        <div>
            <ul>
                <li><a class="menu_button" th:href="@{/startpage}">Home</a></li>
                <li><a class="menu_button" th:href="@{/showallbooks}">Book list</a></li>
                <li><a class="menu_button" th:href="@{/usergui}">User Panel</a></li>
                <li><a th:if="!${#request.userPrincipal}" class="menu_button" th:href="@{/login}">Login</a>
                </li>
                <li><a sec:authorize="isAuthenticated()" class="menu_button" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>

</header>

<body>
<div class="container">
    <h3>Enter book details</h3>
    <hr>

    <p class="h4 mb-4">Add book</p>

    <form action="#" th:action="@{/addbook}" th:object="${bookadd}" method="post">

        <!--        Add hidden form field to handle update-->
        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{title}" class="form-control mb-4 col-4" placeholder="Title">
        <input type="text" th:field="*{author}" class="form-control mb-4 col-4" placeholder="Author">
        <input type="text" th:field="*{year}" class="form-control mb-4 col-4" placeholder="Year">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

    <hr>
    <a th:href="@{/showallbooks}">Back to Book List</a>

</div>

</body>
</html>
