<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

    <title>Book list</title>

</head>

<header>
    <h1>Book list</h1>
    <p class="login_info"> Logged in as: <span sec:authentication="name"></span>
        <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    </p>
    <nav>
        <div>
            <ul>
                <li><a class="menu_button" th:href="@{/startpage}">Home</a></li>
                <li><a class="menu_button" th:href="@{/showallbooks}">Book list</a></li>
                <li><a class="menu_button" th:href="@{/usergui}">User Panel</a></li>
                <li><a th:if="!${#request.userPrincipal}" class="menu_button" th:href="@{/login}">Login</a>
                </li>
                <li><a sec:authorize="isAuthenticated()" class="menu_button" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>

</header>

<body>
<div class="container">
    <h3>Your book list</h3>
    <hr>

    <div class="search_bar">
        <form action="#" th:action="@{/findUserBooks}" th:object="${books}" method="get"> Search for book:
            <input type="text" placeholder="Search.." name="param">
            <button type="submit">Submit</button>
        </form>
    </div>

</div>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>

        <tr th:if="${books.empty}">
            <td colspan="4"> No Books Found.</td>
        </tr>

        <tr th:each="tempBook : ${books}">
            <td><a th:href="@{/bookprofile(bookId=${tempBook.id})}" th:text="${tempBook.title}"/></td>
            <td th:text="${tempBook.author}"/>
            <td th:text="${tempBook.year}"/>

            <div>

                <td>

                    <div sec:authorize="hasRole('ROLE_USER')">
                        <a th:href="@{/returnbook(bookId=${tempBook.id})}"
                           class="delete_button">
                            Return
                        </a>
                    </div>
                </td>
            </div>

        </tr>
        </tbody>

    </table>

</div>

</body>
</html>