<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/style.css" th:href="@{static.css}" rel="stylesheet"/>

    <title>Welcome</title>
</head>

<header>
    <h1>Library start page</h1>
    <p class="login_info"> Logged in as: <span sec:authentication="name"></span>
<!--        <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>-->
    </p>
    <nav>
        <div>
            <ul>
                <li><a class="menu_button" th:href="@{/startpage}">Home</a></li>
                <li><a class="menu_button" th:href="@{/showallbooks}">Book list</a></li>
                <li><a class="menu_button" th:href="@{/usergui}">User Panel</a></li>
                <li><a th:if="!${#request.userPrincipal}" class="menu_button" th:href="@{/showallbooks}">Login</a>
                </li>
                <li><a sec:authorize="isAuthenticated()" class="menu_button" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>

</header>

<body>

<div class="container">
    <hr>
    <h3>Library SDA Project</h3>

        Project of e-library created in connection with presenting end results of Java Basic Course - organised via <a href="https://sdacademy.pl/">SDAcademy</a>.<br>
        Project won 2nd place in Open Competition organised via one of ours teachers Przemysław Bykowski (<a href="http://bykowski.pl/">www.bykowski.pl</a>).
<br>
        <u>Creators:</u>
        <ul><li>Michał Chmielewski <a href="https://github.com/mehowch">github profile</a></li><li>Michał Skrzypczak <a href="https://github.com/P3droCi7">github profile</a></li></ul>

        Application deployed on Heroku: <a href="https://librarysda.herokuapp.com/startpage">Library Project</a>
        <br>
        Application uses H2 DB file with create-drop parameter.
        H2 DB initialized with sample book and user data:
        <table border="3px">
            <tr>
                <th>Role</th>
                <th>Login</th>
                <th>Password</th>
            </tr>
            <tr>
                <th>Admin</th>
                <th>naveen</th>
                <th>naveen</th>
            </tr>
            <tr>
                <th>User</th>
                <th>priya</th>
                <th>priya</th>
            </tr>
        </table>

        <u>Technologies used:</u>
        Spring Boot, Spring Boot Security, Swagger2, Thymeleaf, Maven, MySQL DB, H2 DB(Heroku).
<br>
        <u>Documentation:</u>
        Spring Security provides safe login/logout process as well as application layer functionality access. All user passwords are encrypted and safely stored inside database.
        <br>
        Application provides two user roles:
        <ul>
            <li>Admin - creates new users, manages book storage (creates new books, deletes old books, updates books)</li>
            <li>User - borrows books, returns books</li>
        </ul>

        Presentation layer created with help of Thymeleaf allows user to access user gui and easily search for books to borrow. User may access User panel and see all currently borrowed books.

        Endpoints:
        <ul>
            <li>Swagger UI <a href="https://librarysda.herokuapp.com/swagger-ui.html">Documentation</a></li>
            <li>H2 <a href="https://librarysda.herokuapp.com/console">Console</a></li>
        </ul>


        <u>Future development of the project:</u>
        TODO: Update Book, Add images of books, Remove User, Add ability to borrow max 5 books at once.
</div>

</body>
</html>
